# Do not merge.
# This is a test to verify environment variable behaviors in GH Actions
#
name: Build, test, and publish Red Hat Distribution Containers

on:
  push:
    branches:
      - wip-kdreyer-*

env:
  REGISTRY: quay.io
  IMAGE_NAME: quay.io/opendatahub/llama-stack # tags for the image will be added dynamically

jobs:
  build-test-push:
    runs-on: ubuntu-latest
    env:
      VLLM_URL: http://localhost:8000/v1

    steps:
      - name: hello world
        env:
          LLAMA_STACK_VERSION: ${{ env.LLAMA_STACK_COMMIT_SHA }}
        run: |
          env
